# Data explorer

## Libraries

In [1]:
import pandas as pd

## Read data

In [2]:
meta = pd.read_csv("./metadata_modelnet40.csv")

In [9]:
meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12311 entries, 0 to 12310
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   object_id    12311 non-null  object
 1   class        12311 non-null  object
 2   split        12311 non-null  object
 3   object_path  12311 non-null  object
dtypes: object(4)
memory usage: 384.8+ KB

In [7]:
meta.head(10)

       object_id     class split                      object_path
0  airplane_0627  airplane  test  airplane/test/airplane_0627.off
1  airplane_0628  airplane  test  airplane/test/airplane_0628.off
2  airplane_0629  airplane  test  airplane/test/airplane_0629.off
3  airplane_0630  airplane  test  airplane/test/airplane_0630.off
4  airplane_0631  airplane  test  airplane/test/airplane_0631.off
5  airplane_0632  airplane  test  airplane/test/airplane_0632.off
6  airplane_0633  airplane  test  airplane/test/airplane_0633.off
7  airplane_0634  airplane  test  airplane/test/airplane_0634.off
8  airplane_0635  airplane  test  airplane/test/airplane_0635.off
9  airplane_0636  airplane  test  airplane/test/airplane_0636.off

## Look around

In [24]:
chairs = meta[(meta["class"] == "chair") & (meta["split"] == "train")][["object_id", "class", "object_path"]]
chairs

       object_id  class                 object_path
3278  chair_0001  chair  chair/train/chair_0001.off
3279  chair_0002  chair  chair/train/chair_0002.off
3280  chair_0003  chair  chair/train/chair_0003.off
3281  chair_0004  chair  chair/train/chair_0004.off
3282  chair_0005  chair  chair/train/chair_0005.off
...          ...    ...                         ...
4162  chair_0885  chair  chair/train/chair_0885.off
4163  chair_0886  chair  chair/train/chair_0886.off
4164  chair_0887  chair  chair/train/chair_0887.off
4165  chair_0888  chair  chair/train/chair_0888.off
4166  chair_0889  chair  chair/train/chair_0889.off

[889 rows x 3 columns]

In [25]:
chairs.shape

(889, 3)

In [26]:
chairs[0]

KeyError: 0