# Data explorer

## Libraries

In [1]:
import pandas as pd

## Read data

In [2]:
meta = pd.read_csv("./metadata_modelnet40.csv")

In [3]:
meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12311 entries, 0 to 12310
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   object_id    12311 non-null  object
 1   class        12311 non-null  object
 2   split        12311 non-null  object
 3   object_path  12311 non-null  object
dtypes: object(4)
memory usage: 384.8+ KB

In [4]:
meta.head(10)

       object_id     class split                      object_path
0  airplane_0627  airplane  test  airplane/test/airplane_0627.off
1  airplane_0628  airplane  test  airplane/test/airplane_0628.off
2  airplane_0629  airplane  test  airplane/test/airplane_0629.off
3  airplane_0630  airplane  test  airplane/test/airplane_0630.off
4  airplane_0631  airplane  test  airplane/test/airplane_0631.off
5  airplane_0632  airplane  test  airplane/test/airplane_0632.off
6  airplane_0633  airplane  test  airplane/test/airplane_0633.off
7  airplane_0634  airplane  test  airplane/test/airplane_0634.off
8  airplane_0635  airplane  test  airplane/test/airplane_0635.off
9  airplane_0636  airplane  test  airplane/test/airplane_0636.off

## Look around

In [24]:
chairs = meta[(meta["class"] == "chair") & (meta["split"] == "train")][["object_id", "class", "object_path"]]
chairs

       object_id  class                 object_path
3278  chair_0001  chair  chair/train/chair_0001.off
3279  chair_0002  chair  chair/train/chair_0002.off
3280  chair_0003  chair  chair/train/chair_0003.off
3281  chair_0004  chair  chair/train/chair_0004.off
3282  chair_0005  chair  chair/train/chair_0005.off
...          ...    ...                         ...
4162  chair_0885  chair  chair/train/chair_0885.off
4163  chair_0886  chair  chair/train/chair_0886.off
4164  chair_0887  chair  chair/train/chair_0887.off
4165  chair_0888  chair  chair/train/chair_0888.off
4166  chair_0889  chair  chair/train/chair_0889.off

[889 rows x 3 columns]

In [25]:
chairs.shape

(889, 3)

In [14]:
print(meta.groupby(["class", "split"]).count().to_string())

                 object_id  object_path
class     split
airplane  test         100          100
          train        626          626
bathtub   test          50           50
          train        106          106
bed       test         100          100
          train        515          515
bench     test          20           20
          train        173          173
bookshelf test         100          100
          train        572          572
bottle    test         100          100
          train        335          335
bowl      test          20           20
          train         64           64
car       test         100          100
          train        197          197
chair     test         100          100
          train        889          889
cone      test          20           20
          train        167          167
cup       test          20           20
          train         79           79
curtain   test          20           20
          train        138          138
desk      test          86           86
          train        200          200
door      test          20           20
          train        109          109
dresser   test          86           86
          train        200          200
flower    test          20           20
          train        149          149
glass     test         100          100
          train        171          171
guitar    test         100          100
          train        155          155
keyboard  test          20           20
          train        145          145
lamp      test          20           20
          train        124          124
laptop    test          20           20
          train        149          149
mantel    test         100          100
          train        284          284
monitor   test         100          100
          train        465          465
night     test          86           86
          train        200          200
person    test          20           20
          train         88           88
piano     test         100          100
          train        231          231
plant     test         100          100
          train        240          240
radio     test          20           20
          train        104          104
range     test         100          100
          train        115          115
sink      test          20           20
          train        128          128
sofa      test         100          100
          train        680          680
stairs    test          20           20
          train        124          124
stool     test          20           20
          train         90           90
table     test         100          100
          train        392          392
tent      test          20           20
          train        163          163
toilet    test         100          100
          train        344          344
tv        test         100          100
          train        267          267
vase      test         100          100
          train        475          475
wardrobe  test          20           20
          train         87           87
xbox      test          20           20
          train        103          103